/*section{
    padding: 800px 40;
}*/
:root{
    --primary-color: rgb(245, 211, 15);
  
  }
  

#hero{
   
   
    position: relative;
    background-color: rgb(31, 32, 39);
    color: white;
    text-align: center;
    padding: 80px;
    line-height:20px;
    width:100%;
    height:30vh;
    top: -25px;
    bottom:100px;
}

#hero > img{
    
 /*      opacity: 0.5;*/
        position: relative;
        top: -70px;
        width: 70%;
        height: 40vh;
      
}

#hero > h1{
    font-family: 'Fuggles', cursive;
    background-color:rgb(255, 0, 153);

 
    font-size: 40px;
    margin:20px;
    position: relative;
    top: -70px;
    width:100%;
    text-align: center;
    vertical-align: baseline;
    }
  
/*#about {
    position: relative;
    line-height:30px;
    top: -140px;
    font-size: 500px;
    font-family: 'Inconsolata', monospace;
}*/
    

#whyUs{
   /* position:absolute;
    text-align: center;
    bottom: 32px;
    line-height:20px;
    width: 40%;
    float: left;
    background-color:rgb(245, 211, 15);
    color: black;
    padding: 40px;*/

    margin: auto;
   
    width: 40%;
    border: 3px var(--primary-color);
/*    background-color:rgb(245, 211, 15);*/
    background-color: var (--primary-color);
    text-align: center;
    position:absolute;
    padding: 100px;
    float: left;
    height: 110px;
    font-size: 35px;
/*    top:25px;*/
    font-family:'Times New Roman', Times, serif;
}

#whyUs >p{
    top:-240px;
}

#whyUs >h2{
    font-family: 'Fuggles', cursive;
    font-size: 90px;
    position: relative;
    top:-190px;
}

#about{
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*about section below*/
section > p{
    background-color: none;
    color: grey;
    line-height:25px;
    font-size: 25px;
    font-family: Dancing Script;
    position: absolute;
    top:100px;
    bottom:25px;
  
}


@media (min-width: 800px) {
    #whyUs {
        width: 100%;
        float:none;
  
    }
}


 #callToAction {
  
  bottom: 100px;
  background-color: grey;
  padding: 100px;
 
  width: 60%;
  float: right;
  
} 

@media (min-width: 800px) {
    #callToAction {
        width: 100%;
        float:none;
  
    }
}

#callToAction > p{
    color:rgb(241, 210, 54);
    margin-left:520px;
   
}

#callToAction > button{
    margin-left:500px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 170%;
    left: 15%;
    font-size: 30px;
    width:120px;
    height: 40px;
}

/*#callToAction > button{
    /* position: relative;
     top: -60px;
     justify-content: center;*/
 
/*    margin: 0;
   position: absolute;
   top: 180%;
   left: 50%;
   font-size: 30px;
   }*/








/*main > p{
    top: 10px;
    bottom: 480px;
    line-height:20px;
    padding : 50px;
   
}*/



/*section > h2 {
    color: black;
}*/


/*title blackjack h2*/
main > section > h2{
    color: black;
    position: relative;
    top: -40px;
    background-color: none;
    font-size: 120px;
}

main > section > p{
    position: relative;
    top: -90px;
    
}

/* #whyUs> p{
    
    background-color:rgb(245, 211, 15);
    color: grey
}*/


