:root{
  --primary-color: #f5ecec;
  --yellow : rgb(241, 210, 54);
  --beige: rgb(250, 229, 200);
  --black:rgb(31, 32, 39);
}

*{
  font-family: 'Fuggles';
}



section > h2{
  font-family: 'Fuggles', cursive;
  color: var(--primary-color);
}

blockquote{
  font-weight:100;
  margin:40px;
}

.flex-center{
  display: flex;
  align-items:center;
  justify-content:center;
}

.flex-column{
  flex-direction: column;
}

.flex-column h2{
  font-size: 30px;
}

nav {
  display: flex;
  align-items: center;
  color: var(--beige);
  top: 5px;
  margin-left:-120px;
}

a{
  font-size: 20px;
  color: rgb(250, 229, 200);
  
}



a:link{
  text-decoration: none;
  position:relative;
  color: var(--beige);
  
}

a:visited{
  color: var(--green)
}


a:hover {
  text-decoration: underline; 
  color: var(--yellow);
}


a:focus{
  
  color: var(--yellow);
}

a:active{
  font-size:30px;
  color:bisque;

}




a:link::after{
  content: "🎉";
}

@media(max-width:1100px){ /*less than 1100 the emoji disappears*/
  a:link::after{
    content:"";
  }
}





  a:link:focus::after,
  a:link:hover::after{
    content:attr
    (data-blackjack-value);
    position:absolute;
    left: 0;
    top:20px;
    min-width:200px;
    min-height:40px;
    padding:2px;
    background-color: var(--black);
    color:var(--white);
    z-index:100;
  
    
}

  
 



header {
    position: fixed;
    top: 0px;
    width: 200vw;
    height: 80px;
    background-color:rgb(27, 31, 36);
    display: inline;
    align-items: center;
    justify-content: center;
}



  nav ul{
    display:inline;
    align-items: center;
    justify-content: center;
}
  
  main {
    padding-top: 100px;
    padding-bottom: 80px;
}

li {
  display :inline;
  margin: 50px;
  font-size
}

main section> h2{
  font-size: large;
  color: rgb(250, 229, 200);
  text-align: center;
  border-color: rgb(31, 32, 39);
  border-width: 55px 0 0;
  padding: 25px;
}
  
  #logo {
    height: 100px;
}
  
  #account {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 210px;
    background-color: rgb(24, 194, 137);
}
  
  #login {
    position: absolute;
    top: 40px;
    right: 80px;
}

  
  nav {
    position: absolute;
    left: 400px;
    top: 40px;
    display: flex;
    justify-content: flex-end;
  }

/*  nav {
    grid-column: 3;
    display: flex;
    align-items: center;
  }*/



  ul > li >a{
    
    color: rgb(164, 138, 101);
    display: inline;
    margin-left: 200px;
    float: right;
}
  
  li {
    display: inline;
    margin: 50px;
}

 /* nav {
    grid-column: 2;
    display: flex;
    align-items: center;
  }
  
  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  ul > li >a{
    
    color: rgb(250, 229, 200);
    display: flex;
    margin-left: 200px;
    float: right;
  }

*/


  article >h1{
    color:rgb(250, 229, 200);
    background-color: rgb(31, 32, 39);
    text-align: center;
    top: 100px;
    bottom:100px;
  }

  article > p{
    color:rgb(31, 32, 39);
    position:fixed;
    background-color: rgb(241, 210, 54);
    top: 90px;
    
    justify-content: center;
    padding:250px;
}
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: rgb(241, 210, 54);
    background-color: rgb(27, 31, 36);
    height: 80px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

  footer > p {
    position: absolute;
    bottom: -30px;
    right: -10px;
    color: rgb(241, 210, 54);
}
  
  #copyright {
    position: absolute;
    bottom: 35px;
    right: 35px;
    justify-content: center;
    font-size:10px;
}

  #copyright,
  .mobileFeature {
   margin :20px;
   visibility: not visible;
}

/* .disappearing{
    color:rgb(250, 229, 200);
    display: inline;
    margin-left: 10px;
    float: left;
    font-size: 45px;
    position: absolute;
    top:10px;
    right: 35px;
    justify-content: center;
   

  }*/

 /* #menu-button {
    display: none;
  }*/

  





@media (max-width: 500px) {
  li {
    display: inline;
    margin:20px;
  }
  .mobileFeature{
    display: not visible;
    
  }
}

  
  @media (min-width: 700px) {
    .disappearing {
      display: visible;

    }

    .mobileFeature{
      display: not visible;
    }
  }
  
  
  /*@media (max-width: 700px) {
   nav {
      display: none;
    }
    #account {
      display: none;
    }
  .disappearing {
      grid-column: 3;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    main {
      padding-bottom: 0px;
    }
    footer {
      position: unset;
    }
  }