:root{
    --primary-color: #f5ecec;
    --yellow : rgb(241, 210, 54);
    --beige: rgb(250, 229, 200);
    --black:rgb(31, 32, 39);
  
  
  
  }


.tooltip {
  position: relative;
  display: inline-block;
  
  color: black;
  background-color: white;
}

.tooltip::after {
  content: attr(data-blackjack-value);

  position: absolute;
  left: 0;
  top: 100%;
  min-width: 200px;
  min-height: 40px;
  padding: 2px;
  background-color: var(--white);
  color: black;;
/*  z-index: 100;*/
  display: none;
}







li:hover .tooltip::after {
  display: block;
  color: var(--yellow);

}

li {
    display :inline;
    margin: 50px;
    font-size:50px;
  }

  .tooltipButton {
    position: relative;
    display: inline-block;
    
    color: black;
    background-color: white;
  }

  .tooltipButton::after {
    content: attr(data-user-hints);
   
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 200px;
    min-height: 40px;
    padding: 2px;
    background-color: white;
    color: var(--white);
    z-index: 100;
    display: none;
  }

  dt:hover .tooltipButton::after {
    display: block;
    color:rgb(241, 210, 54)
  
  }
  
  dt {
      display :inline;
      margin: 50px;
      font-size:50px;
    }

    /*new*/
    .buttonTips {
        position: relative;
        display: inline-block;
        
        color: black;
        background-color: white;
      }
    
      .buttonTips::after {
        content: attr(data-user-hints);
       
        position: absolute;
        left: 0;
        top: 100%;
        min-width: 200px;
        min-height: 40px;
        padding: 2px;
        background-color: white;
        color: var(--white);
        z-index: 100;
        display: none;
      }
    
      dt:hover .buttonTips::after {
        display: block;
        color:rgb(241, 210, 54)
      
      }
      
      dt {
          display :inline;
          margin: 50px;
          font-size:50px;
        }

/*test for cypress*/
        button:hover::after{
            content: attr(data-user-hints);
       
            position: absolute;
            left: 0;
            top: 100%;
            min-width: 200px;
            min-height: 40px;
            padding: 2px;
            background-color: white;
            color: var(--white);
            z-index: 100;
            display: none;  
        }

        /*test for cypress*/
ol.li:hover::after{
    content: attr(data-blackjack-value);
    color: rgb(255, 221, 0);
    text-decoration: underline;
  
    }
  
ol.li:hover::after{
    content: attr(data-blackjack-value);
    display: block;
    color: var(--yellow);  
}

.my-card-content {
  padding: 16px;
}
.my-card {
  height: 350px;
  width: 350px;
}